.block {
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.blockContainer {
    box-sizing: content-box;
    background-color: white;
    position: relative;
    height: 300px;
    width: 100%;
    border: 5px solid hsl(205, 96%, 20%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}