:root {
    --BLOCK-WIDTH: 50px;
    --GAP: 20px;
}

.block {
    position: absolute;
    bottom: 0px;
    color: white;
    text-align: center;
    padding-top: 5px;
}

.blockContainer {
    position: relative;
    height: 300px;
    border: 1px solid black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}