.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlMenu {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 800px;
}

.genericSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    /*width: 300px;*/
}

.select {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    height: 50px;
}